.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
**/xcuserdata/
.DS_Store
*.mobileprovision
*.dSYM.zip
*.ipa
*.xcuserstate
*.xcodeproj
*.xcworkspace
*.d
*.dia
*.o
*.orig
GeneratorDouble